<div class="h-screen flex items-center justify-center ">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate class="space-y-4 w-[80%] p-3.5 rounded-lg bg-slate-50">

  <!-- Current Password -->
  <label class="block">
    <span class="mb-1.5 block text-sm font-bold text-slate-700">
      Current password
    </span>

    <input
      type="password"
      formControlName="currentPassword"
      placeholder="Enter current password"
      class="w-full rounded-xl border bg-slate-50 px-3 py-2.5 text-sm outline-none transition"
      [class]="{
        'border-rose-300': isInvalid('currentPassword'),
        'border-slate-200': !isInvalid('currentPassword')
      }"
    >

    @if (isInvalid('currentPassword')) {
      <span class="mt-1 block text-xs text-rose-600">
        Current password is required
      </span>
    }
  </label>

  <!-- New Password -->
  <label class="block">
    <span class="mb-1.5 block text-sm font-bold text-slate-700">
      New password
    </span>

    <input
      type="password"
      formControlName="newPassword"
      placeholder="Enter new password"
      class="w-full rounded-xl border bg-slate-50 px-3 py-2.5 text-sm outline-none transition"
      [class]="{
        'border-rose-300': isInvalid('newPassword'),
        'border-slate-200': !isInvalid('newPassword')
      }"
    >

    @if (form.get('newPassword')?.errors?.['required'] && form.get('newPassword')?.touched) {
      <span class="mt-1 block text-xs text-rose-600">
        New password is required
      </span>
    }

    @if (form.get('newPassword')?.errors?.['pattern'] && form.get('newPassword')?.touched) {
      <span class="mt-1 block text-xs text-rose-600">
        Must contain uppercase, lowercase, number & special character
      </span>
    }

    
  </label>

  <!-- Confirm Password -->
  <label class="block">
    <span class="mb-1.5 block text-sm font-bold text-slate-700">
      Confirm new password
    </span>

    <input
      type="password"
      formControlName="confirmPassword"
      placeholder="Re-enter new password"
      class="w-full rounded-xl border bg-slate-50 px-3 py-2.5 text-sm outline-none transition"
      [class]="{
        'border-rose-300': isPasswordMismatch(),
        'border-slate-200': !isPasswordMismatch()
      }"
    >

    @if (isPasswordMismatch()) {
      <span class="mt-1 block text-xs text-rose-600">
        Passwords do not match
      </span>
    }
  </label>

  <!-- Submit -->
  <button
    type="submit"
    [disabled]="form.invalid"
    class="inline-flex w-full items-center justify-center rounded-xl bg-[#1877f2] px-4 py-2.5 text-sm font-bold text-white transition hover:bg-[#166fe5] disabled:opacity-60"
  >
    Update password
  </button>

</form>
</div>