<nav class="bg-neutral-primary fixed w-full z-20 top-0 inset-s-0 border-b border-default">
  <div class="max-w-7xl flex flex-wrap items-center justify-between mx-auto py-2 px-4">
    <a class="flex items-center space-x-3 rtl:space-x-reverse ">
      <img src="/assets/route.png" class="h-10" alt="Logo" id="logo-img" />

      <span class="self-center text-xl text-heading font-semibold whitespace-nowrap">Route Posts</span>
    </a>
    <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse bg">
      <button type="button"
        class="flex text-sm bg-neutral-primary rounded-full md:me-0 focus:ring-4 focus:ring-neutral-tertiary"
        id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
        data-dropdown-placement="bottom">
        <span class="sr-only">Open user menu</span>
        <img class="w-8 h-8 rounded-full cursor-pointer" src="/assets/default-profile.png" alt="user photo">
      </button>
      <!-- Dropdown menu -->
      <div class="z-50 hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44"
        id="user-dropdown">
        <div class="p-2 text-sm border-b border-default">

          <ul class="text-sm text-body font-medium " aria-labelledby="user-menu-button">
            <li>
              <a
                 routerLink="/profile"
                class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"><i class="fa-regular fa-user me-1.5"></i> Profile</a>
            </li>
            <li>
              <a routerLink="/change"
                class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded"><i class="fa-solid fa-gear me-1.5"></i> Setting</a>
            </li>
           
          </ul>
        </div>
        <ul class="p-2 text-sm text-body font-medium" aria-labelledby="user-menu-button">
          <li>
            <a (click)="logout()"
              class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium text-red-600 hover:text-red-900 rounded cursor-pointer"><i class="fa-solid fa-arrow-right-from-bracket me-1.5"></i> Log
              Out</a>
          </li>

        </ul>
      </div>
      <button data-collapse-toggle="navbar-user" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary"
        aria-controls="navbar-user" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
          viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14" />
        </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
      <ul
        class="font-medium bg-slate-100 p-1 flex flex-col  mt-4 rounded-base md:flex-row md:space-x-2 rtl:space-x-reverse md:mt-0 ">
        <li>
          <a routerLinkActive="active" routerLink="/feed"
            class="block capitalize py-2  text-gray-600 px-2.5 font-bold  rounded  hover:bg-white hover:text-gray-900 transition"><i
              class="fa-regular fa-house"></i> feed</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/profile"
            class="block capitalize py-2  px-2.5 text-gray-600 font-bold hover:bg-white hover:text-gray-900  rounded  transition"><i
              class="fa-regular fa-user"></i> Profile</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/notification"
            class="block capitalize py-2  px-2.5 text-gray-600 font-bold hover:bg-white hover:text-gray-900   rounded  transition"><i
              class="fa-regular fa-comment"></i> notification</a>
        </li>


      </ul>
    </div>
  </div>
</nav>